[include]
    path = "~/.gitconfig-local"
    path = "~/.gitconfig_aliases"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	editor = code -w -n
	excludesfile = "~/.gitignore_global"

[color]
	ui = true

[diff]
	tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
	prune = true
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
