configuration {
    modi:                           "drun";
    icon-theme: 					"Papirus";
    show-icons:                     true;
    display-drun: 					"";
    drun-display-format:            "{name}";
}
@import "rofi.rasi"

entry {
    placeholder:                    "Search";
}

listview {
    columns:                        5;
}

element-icon {
    size:                           65px;
    border:                         0px;
}