configuration {
    modi:                           "run";
    show-icons:                     false;
    display-run: 					">";
}
@import "rofi.rasi"

window {
    width:                          20%;
}

entry {
    placeholder:                    "Run";
}

listview {
    columns:                        1;
}

element-text {
    margin:                         0px 5px 0px 5px;
}