Config
{
    overrideRedirect = False,

    font = "xft:Ubuntu:weight=bold:pixelsize=14:antialias=true:hinting=true",
    additionalFonts =
    [
        "xft:Mononoki:pixelsize=11:antialias=true:hinting=true",
        "xft:Font Awesome 6 Free Solid:pixelsize=14",
        "xft:Font Awesome 6 Brands:pixelsize=16"
    ],

    bgColor = "#282c34",
    fgColor = "#ff6c6b",
    iconRoot = ".config/xmonad/xpm/",

    position = TopSize L 100 24,

    hideOnStart = False,
    lowerOnStart = True,
    persistent = True,

    commands =
    [
        -- Echos a "clock" icon in front of the date.
        Run Com "echo"
            ["<fn=2>\xf017</fn>"]
            "clock"
            3600,
        Run Com ".local/bin/clock"
            []
            "date"
            50,

        Run XMonadLog
    ],
    sepChar  = "%",
    alignSep = "}{",
    template = " <icon=haskell_20.xpm/>   <fc=#666666>|</fc> %XMonadLog% }{ <box type=Bottom width=2 mb=2 color=#46d9ff><fc=#46d9ff>%clock% <action=`kitty -e calcurse`>%date%</action></fc></box>  "
}